* {
    box-sizing: border-box;
}
.main-header {
    background: rgb(142, 185, 142);
    padding: 20px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    /* display: flex; */
    z-index: 1;

}

/* .main-nav {
    display: inline-block;
} */

.main-nav__items {
    display: flex;
    justify-content: flex-end;
}

.main-nav__item {
    vertical-align: middle;
    list-style: none;
    margin: 0 20px;
}

.main-nav__brand {
    vertical-align: middle;
    list-style: none;
    margin: 0 20px;
   
}


.main-nav__brand > a:hover,
.main-nav__brand > a:active {
     color: rgb(2, 88, 2);
     border-bottom: none;
}

.main-nav__brand > a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 700;
    list-style: none;
    display: inline-block;
}

.main-nav__item > a {
    color: rgb(2, 88, 2);
    font-weight: 700;
}

.main-nav__brand img {
    height: 33%;
    width: 33%;
}

.main-nav__item > a:hover,
.main-nav__item > a:active {
    color: whitesmoke;
    border-bottom: 2px solid whitesmoke;
}

.push-left {
    margin-right: auto;
    font-weight: bold;
    font-size: 1.2em;
}

.main-footer {
    background: #222;
    padding: 20px 0px;
    /* display: flex; */
    grid-area: footer;
}

.main-footer__items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-footer__item {
    list-style: none;
    margin: 0 20px;
}

.main-footer__item > a {
    color: whitesmoke;
    text-decoration: none;

}