* {
    box-sizing: border-box;
}

#plus {
  background: rgb(240, 255, 240, .9);
  position: relative;
}

#free {
   background: rgb(215, 255, 215, .9);
}

#premium {
   background: #248d36;
}

.plan-descriptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: vertical;
  background-image: url('../images/plans-background.jpg');
  grid-area: content;
  width: minmax(200px, 300px);
}

.plan__badge {
  position: absolute;
  top: 15px;
  right: 20px;
  background: red;
  color: whitesmoke;
  transform: rotateZ(45deg);
}

.plan__item {
  border: 2px solid #777;
  margin: 10px;
  padding: 10px;
    width: minmax(200px, 300px);
}
@media (min-width: 40rem) {
  .plan__descriptions {
    width: 600px;
  }
  .plan__item {
    width: 600px;
  }
}

.plan__item a {
  text-decoration: none;
}

.plan__item:hover,
.plan__item:active {
  border: rgb(255, 38, 0) 2px solid;
  box-shadow: 3px 3px 3px 1px rgb(255, 100, 0, .5) 
}

.plan-title {
  color: #888;
}

.plan-desc {
  color: rgb(82, 129, 82)
}

.plan-detail {
  background: whitesmoke;
  border: 1px solid #555;
  padding-left: 10px; 
  margin-right: 10px;
  color: #777;
}

.premium__desc {
  color: rgb(153, 186, 190)
}
.premium-title {
  color: whitesmoke;
}